body{
    background-color: #1A1A1D;
   background-repeat: no-repeat;
    
}
.logo{
    border-radius: 40px;
    box-shadow: 0 0;
}
/*Top navigation bar*/
.topnav {
    margin-top: 30px;
    
    overflow: hidden;
  background-color:whitesmoke; 
    width: 990px;
    border-radius: 30px;
   
}
.topnav a {
    float: left;
    color: #6F2232;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
}

.topnav a:hover {
    background-color: #C3073F;
    color: black;
    opacity: .8;
}

.topnav a.active {
    background-color:#950740 ;
    color: white;
}
.sign {
  float: right;
}
.btmnav{
    color: #EAF0F1;
    height: 70px;
    width: 990px;
    text-align:center;
   color:whitesmoke;
 /* text-shadow: 1px 2px 20px #AE1438;*/

}
/*SLIDE SHOW */
div>img{
    border-radius: 40px;
   box-shadow: 0px 0px 25px 4px rgba(255,255,255,0.45);
}
div>img:hover{
    transform: scale(1.1,1.05);
}
marquee{
text-align:center;
color:#eee;
/*text-shadow: 1px 2px 20px #AE1438;*/
}
/* grid */
.grid
 {
     color: whitesmoke;
     margin-left:180px;
  display: grid;
  grid-template-columns: repeat(3,300px);  /* 3 columns */
  grid-template-rows: repeat(3,450px); /* 3 rows  */
  grid-gap:30px 40px; /* 30 pixels of space added between rows and 40 pixels added between columns  */
}
a>img{
    border-radius: 40px;
   box-shadow: 0px 0px 25px 4px rgba(255,255,255,0.45);
}
a>img:hover{
    transform: scale(1.1,1.05);

}
.grid-item{
  border-style: none;
  padding:10px;
}
figcaption { 
    color:whitesmoke;
  display: block;
    padding-left: 90px;
}

